.issueItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 465px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 5.5px;
  margin-bottom: 5.5px;
  padding: 0 10px;
}

.issueItem__title {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: 2px;
}
